extends layout

block content
  a(href='/') HomePage
  div(class='box_properties' align='center')
    p Please enter your next Todo:
    form(method='POST' action='/create')
      input(type='text' name='event')
      input(type='submit')
