extends layout

block content
  h1= title
  a(href='/') HomePage

  if data
    div(class='box_properties' align='center')
      ul
        li= data.event
        form(method='DELETE' action='/delete/' + data.event.url)
          label(for='DELETE') DELETE
          input(type='submit' name='delete_event')
        form(method='GET' action='/update/' + data.event.url)
          label(for='UPDATE') UPDATE
          input(type='submit')
