extends layout

block content
  h1= title
  div(border:'3px solid black')
    p Your TODO List:
    if items
      each data in items
        li= data.event
  form(method='GET' action='/create')
    input(type='submit')
