extends layout

block content
  h1(align='center')= title
  div(class='box_properties' align='center')
    h2 Your TODO List:
    if items
      ul
      each data in items
        li
          a(href=data.url) #{data.event}
    else
        p There are no more events for you to do! To add an event, click the submit button!
    form(method='GET' action='/create')
      label(for='submit') Submit
      input(type='submit')
